//utility Class
*{
    padding: o;
    margin: 0;
    box-sizing: border-box;
}
@for $i from 1 to 10 {
    .margin-top-#{ $i * 15 }{
        margin-top: #{ $i * 15 }px;
    }
}
@for $i from 1 to 10 {
    .padding-top-#{ $i * 15 }{
        padding-top: #{ $i * 15 }px;
    }
}
.center{
    width: 85%;
    margin: auto;
}
.margin_auto{
    margin: auto;
}
.d_flex {
    display: flex;
}
.d_flex_reverse{
    display: flex;
    flex-direction: row-reverse;
}
.d_flex_column {
    display: flex;
    flex-direction: column;
}
.space_around {
    justify-content: space-around;
}
.space_between {
    justify-content: space-between;
}
.start{
    justify-content: start;
}
.end{
    justify-content: end;
}
a{
    text-decoration: none;
    color: $link;
}
li {
    list-style: none;
} 