//main 1
.main_1{
    background-color: $backgroundPrimary;
    .container{
        h2{
            color: $primaryColor;
            text-align: center;
            margin: auto;
            max-width: 500px;
            font-size: 30px;
        }
        div{
            div{
                img{  
                height: 150px;
                margin: auto;
                }
                p{
                    color: $primaryColor;
                }
            }
        }
        .last_img{
            img{
                margin-top: 45px;
                height: 400px;
                margin-bottom: 100px;
            }
        }   
    }
}

// main 2

.main_2{
    max-width: 85%;
    div{
        img{
            width: 700px;
        }
    }
    .text{
        h2{
            @include titoletti;
        }
        p{
            @include sottotitoletti;
        }
        img{
            margin-top: 50px;
            width: 400px;
            margin-bottom: 25px;
        }
    }
}

//main_3

