//main 1
.main_1{
    background-color: $backgroundPrimary;
    .container{
        h2{
            color: $primaryColor;
            text-align: center;
            margin: auto;
            max-width: 500px;
            font-size: 30px;
        }
        div{
            div{
                img{  
                height: 150px;
                margin: auto;
                }
                p{
                    color: $primaryColor;
                }
            }
        }
        .last_img{
            img{
                margin-top: 45px;
                height: 400px;
                margin-bottom: 100px;
            }
        }   
    }
}

// main 2  //main 3

.main_2, .main_3{
    max-width: 85%;
    div{
        img{
            width: 700px;
        }
    }
    .text{
        h2{
            @include titoletti;
        }
        p{
            @include sottotitoletti;
        }
        img{
            margin-top: 50px;
            width: 350px;
            margin-bottom: 25px;
        }
        a{
            font-size: 20px;
        }
    }
}


.main_3{
    margin-left: 15%;
}
/* .main_3{
    max-width: 85%;
    margin-left: 15%;
    div{
        img{
            width: 700px;
        }
    }
    .text{
        h2{
            @include titoletti;
        }
        p{
            @include sottotitoletti;
        }
        img{
            margin-top: 50px;
            width: 350px;
            margin-bottom: 25px;
        }
    }
} */

//main 4 

.main_4{
    background-color: $backgroundPrimary;
    .container{
        margin: auto;
        h1{
            color: $primaryColor;
            margin: auto;
            margin-top: 75px;
            margin-bottom: 15px;
            max-width: 450px;
            font-size: 40px;
        }
        .container_messaggio{
            width: 500px;
            height: 400px;
            background-color: white;
            margin-top: 50px;
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 50px;
            border: 1px solid black;
        }

        .btn_log{
            color: white;
            background-color: $link;
            font-size: 20px;
            padding: 5px 10px;
            border-radius: 10px;
            height: 35px;
            margin: auto;
            margin-bottom: 15px;
            &:hover{
                cursor: pointer;
            }
            img{
                width: 19px;
                height: 19px;
            }
            span{
                padding: 3px;
                /* 
                color: white;
                background-color: $link;
                font-size: 20px;
                padding: 5px;
                border-radius: 10px;
                */
            } 
        }
        p{
            font-size: 25px;
            color: $primaryColor;
            padding: 5px;
        }
        div{
            font-size: 20px;
            margin-bottom: 60px;
            /* input{
                border: none;
                background-color: $backgroundPrimary;
            } */
        }
    }
}